<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <meta content='spLeanerSite' name='description' />
    <meta content='Alexey Pegov, Pegov, Пегов, Алексей Пегов, spleaner, spleanersite' name='keywords' />
    <title>{{ title|default:"" }}Apathetic Intolerable Freak</title>
    <link href='http://feeds.feedburner.com/spleaner' rel='alternate' title='RSS' type='application/rss+xml' />
    <link href="/css/v2.css" media="all" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class='clearfix' id='head'>
      <h1 id='title'>Наука сна</h1>
      <div id='top' class='ll g'>
        {% if user %}
        {{ user.nickname }}&nbsp;|&nbsp;<a href="{{ url }}">Выйти</a>{% if admin %}&nbsp;|&nbsp;<a href="#" class="l_create">Написать</a>{% endif %}
        {% else %}
        <a href="{{ url }}">Войти</a>
        {% endif %}
      </div>
      <div id='sub'>spLeanerSite v3.</div>
    </div>
    <div id='container'>
      {% include view %}
    </div>
    <div class='ll clearfix' id='foot'>
      <div id='cp'>&copy; Алексей Пегов, 2008&#150;2009</div>
      <div>
        Еще:
        <a href='http://spleaner.tumblr.com'>Tumblr</a>
        &#150;
        <a href='http://friendfeed.com/spleaner'>FriendFeed</a>
        &#150;
        <a href='http://flickr.com/photos/alexeypegov'>Flickr</a>
        &#150;
        <a href='http://del.icio.us/spleaner'>del.icio.us</a>
      </div>
    </div>
    
    <div id="new-comment-wrapper" style="display: none;">
      <div class="area"><textarea name="comment" rows="1"></textarea></div>
      <div class="buttons ll"><input type="submit" value="Добавить"/><a href="#" class="l_cancelComment">Отменить</a></div>
    </div>
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.js" type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.0/jquery-ui.min.js" type="text/javascript"></script>
    <script src="/js/v2.js" type="text/javascript"></script>
  </body>
</html>