<div class='note'>
  <input type="hidden" name="note_id" value="{{ entry.key.id }}"/>
  <div class='title'>
    <span class='name'><a href="/note/{{ entry.encode_name }}">{{ entry.title|escape }}</a></span><span class='info'><span>&nbsp;&#151;&nbsp;{{ entry.created_at|date }}&nbsp;|</span>
    <span class='tags'>{{ entry.tags|join:", " }}</span>{% if admin %} [ <a href="#" class="l_edit">редактировать</a>, <a href="#" class="l_remove">удалить</a> ]{% endif %}</span>
  </div>
  <div class='text'>{{ entry.content|escape }}</div>
  <div class='cw'>
    {% if entry.comments.count %}
    <div class='ba'></div>
    <div class='w clearfix'>
      <div class='b lg'><a href="#" class="l_expand">{{ entry.comments.count }} комментарий</a></div>
    </div>
    {% else %}
    <div class='ga'></div>
    <div class='w clearfix'>
      <div class='g lg'><a href="#" class="l_comment">Добавить комментарий</a></div>
    </div>
    {% endif %}
  </div>
</div>