* {
  font: 100%/1.25 "Verdana", serif;
}

input, textarea {
  font-size: 100%;
}

body {
  margin: 0;
  background-color: #fff;
}

#top {
  text-align: right;
  font-size: 75%;
  padding: 5px;
  color: #555;
}

#editor {
  padding: 0.5%;
  border: 1px solid #bbb;
  border-left: 0px;
  border-right: 0px;
}

#editor > textarea {
  margin: 0.5%;
  padding: 0.5%;
  width: 98%;
  line-height: 1.2em;
  height: 12em;
  background: #fff;
}

#editor > .top {
  margin: 0 0.5%;
}

#editor > .tags {
  margin: 0.5%;
  margin-top: 0;
}

#editor > .tags .new {
  font-size: 87.5%;
}

#editor > .tags .new input[type=text] {
  width: 12em;
  margin-right: 5px;
}

#editor > .tags > .tag {
  background-color: #dfb;
  margin-right: 0.5em;
  border-radius: 3px;
  font-size: 87.5%;
  padding: 3px;
  cursor: pointer;
}

#editor > .tags > .tag:hover {
  background-color: #fdd;
}

#editor > .bottom {
  margin: 0 0.5%;
  margin-top: 1em;
  text-align: right;
}

#editor > .bottom > label {
  float: left;
  background-color: #fdd;
  padding: 2px;
  border-radius: 3px;
}

#editor > .bottom > input[type=button] {
  margin-right: 10px;
}

#editor > .bottom > .right {
  float: right;
}