@font-face {
  font-family: 'ModernPictogramsNormal';
  src: url('modernpics-webfont.eot');
  src: url('modernpics-webfont.eot?#iefix') format('embedded-opentype'),
       url('modernpics-webfont.woff') format('woff'),
       url('modernpics-webfont.ttf') format('truetype'),
       url('modernpics-webfont.svg#ModernPictogramsNormal') format('svg');
  font-weight: normal;
  font-style: normal;
}

body, p, form {
  margin: 0;
}

body {
  font: 100%/1.25 "Arial", sans-serif;
}

p {
  margin-top: 0.5em;
}

textarea {
  font-size: 100%;
  padding: 2px 0;
}

input[type=text] {
  border: 1px solid #737373;
  font-size: 100%;
  padding: 2px;
}

img {
  border: 0;
  padding: 0.5em 0;
}

.icon {
/*  font-size: 150%;*/
  font-family: "ModernPictogramsNormal";
}

@-moz-keyframes fadeIn {
    from {opacity:0;}
    to {opacity:1;}
}

@-webkit-keyframes fadeIn {
    from {opacity:0;}
    to {opacity:1;}
}

@keyframes fadeIn {
    from {opacity:0;}
    to {opacity:1;}
}

.lf {
  font-size: 130%;
}

h2.lf {
  font-weight: normal;
}

.ar {
  text-align: right;
}

.g {
  color: #777;
}

.ll a {
  color: #7070CC;
  text-decoration: none;
}

.ll a:hover {
  color: blue;
  text-decoration: underline;
}

.lg a {
  color: #777;
  text-decoration: none;
}

.lg a:hover {
  color: blue;
  text-decoration: underline;
}

.r {
  float: right;
}

.l {
  float: left;
}

/* float clearing for IE6 */
* html .clearfix{
  height: 1%;
  overflow: visible;
}

/* float clearing for IE7 */
*+html .clearfix{
  min-height: 1%;
}

.clearfix:after { /* !!! THE FUCKING MAGIC !!! */
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.ll a.rss {
  text-decoration: none;
  background-color: #ff872b;
  color: #fff;
  border-radius: 3px 3px;
  padding: 0 3px;
}

#title > a {
  text-decoration: none;
  color: #000;
}

#title > a:hover {
/*  text-decoration: underline;*/
  color: blue;
}

/*** USER ***/

#user {
  margin: 0.3em 2em 0 2em;
  text-align: right;
  font-size: 87.5%;
}

/*** HEADER ***/

#head {
  margin: 0 2em 2em 2em;
}

#head #title {
  font-weight: normal;
  border-bottom: 2px solid #000;
  font-size: 200%;
  margin-bottom: 0;
}

#head .bar {
  padding-bottom: 3px;
}

#head .bar-fixed {
  position: fixed;
  top: 0;
  background-color: #fff;
  left: 0;
  right: 0;
  padding: 0 2em;
  padding-bottom: 3px;
  box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.3);
}

#head #top {
  padding-top: 0.3em;
  float: right;
  font-size: 90%;
}

#head #sub {
  padding-top: 0.3em;
  font-size: 90%;
  color: #777;
}

#container {
  margin: 1em 2em 3em 2em;
}

#foot {
  border-top: 1px solid #eee;
  margin: 2em;
  padding-top: 0.5em;
  font-size: 90%;
  color: #777;
}

#foot #cp {
  float: right;
  color: #aaa;
}

/*** NOTE-FORM ***/

#note-form {
  margin: 2em;
  padding: 0 1em 1em 1em;
  background-color: #EFECCA;
}

#notes #note-form {
  margin: 2em 0;
}

#note-form table {
  width: 100%;
}

#note-form input[type=text] {
  width: 100%;
}

#note-form textarea {
  width: 100%;
  height: 200px;
}

#note-form .h {
  padding-top: 1em;
  color: #666;
}

#note-form .l_remove {
  text-decoration: none;
  color: #f00;
  font-size: 150%;
}

/*** NAVIGATION ***/

#container #nav {
  margin: -1em 0 1em 0;
}

/*** NOTES ***/

#notes {
  width: 90%;
}

#notes .note {
  margin-bottom: 3em;
  
  -webkit-animation: fadeIn .2s;
  -moz-animation: fadeIn .2s;
  animation: fadeIn .2s;
}

#notes .note .title .name {
  color: #aaa;
  font-size: 130%;
}

#notes .note .title .info {
  font-size: 85%;
  color: #777;
}

.info > .share > div,iframe {
  vertical-align: bottom !important;
}

#notes .note .title .tags {
}


#notes .note .title .tags .tag {
  margin: 0 2px;
  padding: 1px 3px;
  border: 1px solid rgba(0, 0, 0, .1);
  background-color: rgba(255, 255, 150, 0.5);

  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.admin {
  position: absolute;
  font-size: 150%;
  display: block;
}

.admin a {
  color: rgba(55, 55, 55, 1);
  text-decoration: none;
}

#notes .note .title .admin a {
  color: #000;
}


#notes .note .title .info a {
  color: #7070CC;
  text-decoration: none;
}

#notes .note .text {
  margin: 1em 5em 0.5em 3em;
  color: #222;
}

#notes .note .text ul, ol {
  padding-left: 0;
}


.note code {
  font-size: 130%;
}

.note pre {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  font-size: 110%;
/*  margin: 0;*/
  padding: 1em;
  background-color: #E8ECED;
  color: #723147;
}

.note blockquote {
  margin: 1em 0;
  font-style: italic;
  color: #723147;
}

.note blockquote span {
  color: #777;
  font-style: normal;
}

/*
#notes .note .text a {
  color: #444;
}
*/

/*** COMMENTS ***/

.cwl {
  width: 80%;
  margin-left: 3em;
  font-size: 87.5%;
  color: #555;
}

.cwl .ba {
  height: 16px;
  width: 10%;
  margin-left: 1em;
  background: #fff url('/i/a.png') no-repeat;
}

.cwl .cs {
  background-color: #EAF0F6;
}

.cwl .cs .c {
  padding: 0.5em 0.7em;
  border-bottom: 1px solid #fff;
}

.cwl .cs .c a {
  color: #7070CC;
  text-decoration: none;
}

.cwl .cs .c a:hover {
  color: blue;
  text-decoration: underline;
}

.cwl .cs .c .a {
  color: #777;
}

.cwl .cs .c .a a {
  color: #7070CC;
}

.cwl textarea {
  resize: none;
  line-height: 13pt;
  padding: 2pt;
  height: 14pt;
  font-size: 12pt;
  overflow: auto;
  width: 100%;
}

.cw {
  margin-left: 3em;
  font-size: 87.5%;
  color: #777;
}

.cw .ga {
  height: 16px;
  width: 10%;
  margin-left: 1em;
  background: #fff url('/i/a2.png') no-repeat;
}

.cw .ba {
  height: 16px;
  width: 10%;
  margin-left: 1em;
  background: #fff url('/i/a.png') no-repeat;
}

.cw .g {
  float: left;
  padding: 0.5em 0.7em;
  background-color: #eee;
  border-right: 1px solid #fff;
}

.cw .b {
  float: left;
  padding: 0.5em 0.7em;
  background-color: #EAF0F6;
}

.commentform .buttons {
  font-size: 90%;
  padding-top: 5px;
}

.commentform input {
  font-size: 90%;
  margin-right: 1em;
}

.c .author {
  color: #999;
}

.c .m {
  font-size: 87.5%;
  color: #aaa;
  padding-top: 0.5em;
}

/*** PAGING ***/

#paging {
  text-align: center;
  font-size: 90%;
  color: #777;
}

#paging a.d {
  color: #aaa;
}

#paging a.d:hover {
  text-decoration: none;
}

#paging div {
  font-size: 90%;
  color: #aaa;
  margin-top: 0.3em;
}

#paging .key {
  padding: .1em .6em;
  border: 1px solid #ccc;
  background-color: #f7f7f7;
  color: #333;
  border-radius: 3px;
  -moz-border-radius: 3px;
  box-shadow: 1px 1px 1px #ccc;
}

#paging a:first-child, span.key:first-child {
  margin-right: 10px;
}

#paging a:last-child, span.key:last-child {
  margin-left: 10px;
}

/*** STATIC ***/

#static li {
  margin-top: 1em;
}

#static p {
  color: #222;
}

#more {
  color: #555;
}