{% extends "layout.html" %}
{% block title %}Ошибка 404 - {% endblock %}
{% block content %}
<div id="static">
<h2 class="lf">Ошибка 404 (Страница не найдена)</h2>
<p>Скорее всего, Вы неправильно набрали (или скопировали) ее адрес.</p>
<p>Если же, Вы полностью уверены, что адрес правильный, то, возможно, что данная
страница была удалена.<br/>В любом случае, <a href="mailto:spleaner@gmail.com">пишите</a>
&#151; будем разбираться.</p>
<p>А, пока что, можете почитать <a href="/">с самого начала</a>.</p>
</div>
{% endblock %}