<div id="create">
<table>
  <tr>
    <td class="h" colspan="2"><label for="c_title">Заголовок:</label></td>
  </tr>
  <tr>
    <td><input type="text" name="title" id="c_title" autocomplete="off"/></td>
    <td class="ar">Date</td>
  </tr>
  <tr>
    <td class="h" colspan="2"><label for="c_text">Текст:</label></td>
  </tr>
  <tr>
    <td colspan="2"><textarea name="text" id="c_text"></textarea></td>
  </tr>
  <tr>
    <td class="h"  colspan="2"><label for="c_tags">Теги:</label></td>
  </tr>
  <tr>
    <td><input type="text" name="tags" id="c_tags" autocomplete="off"/></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td class="h"><input type="submit" value="Опубликовать"/>&nbsp;<a href="#" class="l_cancelCreate">Отменить</a></td>
    <td>&nbsp;</td>
  </tr>
</table>
</div>