{% extends "layout.html" %}

{% block title %}{% endblock %}

{% block content %}
<div id='notes'>
{% for entry in entries %}
{% include "note.html" %}
{% endfor %}
</div>
<div id="paging" class="g">
{% ifnotequal prev -1 %}
  {% ifequal prev 0 %}
    <a href="/">&#171; Предыдущая страница</a>
  {% else %}
    <a href="/{{ prev }}">&#171; Предыдущая страница</a>
  {% endifequal %}
  {% if next %}&nbsp;|&nbsp;{% endif %}
{% endifnotequal %}
{% if next %}
<a href="/{{ next }}">Следующая страница &#187;</a>
{% endif %}
</div>
{% endblock %}