{% extends "layout.html" %}

{% block title %}{% endblock %}

{% block content %}
<div id='notes'>
{% if entries %}
  {% for entry in entries %}
  {% include "note.html" %}
  {% endfor %}
{% else %}
<span class="empty-list">
Здесь пока ничего нет :)
</span>
{% endif %}
</div>
<div id="paging" class="g ll clearfix">
{% ifnotequal prev -1 %}
  {% ifequal prev 0 %}
    <a class="n_37" href="/">&#8592;</a>&nbsp;
  {% else %}
    <a class="n_37" href="/{{ prev }}">&#8592;</a>&nbsp;
  {% endifequal %}
{% endifnotequal %}
Ctrl
{% if next %}
&nbsp;<a class="n_39" href="/{{ next }}">&#8594;</a>
{% endif %}
</div>
{% endblock %}