<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <meta content='spLeanerSite' name='description' />
    <meta content='Alexey Pegov, Pegov, Пегов, Алексей Пегов, spleaner, spleanersite' name='keywords' />
    <meta name="google-site-verification" content="T8PBPZozJ1FEaRtE_5SBT6Ct2AYMa3x-DTXjdJyPIv4" />
    <title>{% block title %}{% endblock %}Ложное движение</title>
    <link rel="icon" type="image/png" href="/i/favicon.png"/>
    <link href='http://feeds2.feedburner.com/false-movement' rel='alternate' title='Atom' type='application/atom+xml' />
    <link href="/css/v2.css?v=4" media="all" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="user" class="ll g">
      {*auth_block*}
    </div>
    <div class='clearfix' id='head'>
      <h1 id='title'><a href="/">Ложное движение</a></h1>
      <div id='top' class='ll g'><a href="http://feeds2.feedburner.com/false-movement" class="rss">RSS</a> &#150; <a href="/faq">FAQ</a> &#150; <a href="http://flickr.com/photos/alexeypegov">Flickr</a> &#150; <a href="http://alexeypegov.com">alexeypegov.com</a></div>
      <div id='sub' class='robots-nocontent'>spLeanerSite v.3.1</div>
    </div>
    <div id='container'>
      {% block content %}{% endblock %}
    </div>
    <div class='ll clearfix' id='foot'>
      <div id='cp'>&copy; <a href="mailto:spleaner@gmail.com">Алексей Пегов</a>, 2008&#150;2012 (<a href="http://creativecommons.org/licenses/by-sa/3.0/us/">CC</a>)</div>
    </div>
    {% if user %}
    <div id="new-comment-wrapper" style="display: none;">
      <div class="area"><textarea name="comment"></textarea></div>
      <div class="buttons ll"><input type="submit" value="Добавить"/><a href="#" class="l_cancelComment">Отменить</a></div>
    </div>
    {% endif %}

    {% if debug %}
    <script src="/js/jquery-1.4.2.min.js" type="text/javascript"></script>
    <script src="/js/jquery-ui-1.8.5.min.js" type="text/javascript"></script>
    <script src="/js/jquery.dump-1.0.js" type="text/javascript"></script>
    {% else %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js" type="text/javascript"></script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-2504011-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    <!-- t -->
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    {% endif %}
    <script src="/js/util.js?v=2" type="text/javascript"></script>
    <script src="/js/v2.js?v=2" type="text/javascript"></script>
  </body>
</html>