<div id="note-form" data-id="{{ entry.key.id }}">
{%if entry %}
<input type="hidden" name="note_id" value="{{ entry.key.id }}"/>
{% endif %}
<table>
  <tbody>
  <tr>
    <td class="h" colspan="2"><label for="c_title">Заголовок:</label></td>
  </tr>
  <tr>
    <td colspan="2"><input type="text" name="title" id="c_title" autocomplete="off" value="{{ entry.title|default:title }}"/></td>
  </tr>
  <tr>
    <td class="h" colspan="2"><label for="c_text">Текст:</label></td>
  </tr>
  <tr>
    <td colspan="2"><textarea name="text" id="c_text"></textarea></td>
  </tr>
  <tr>
    <td class="h"  colspan="2"><label for="c_tags" class="icon">J</label></td>
  </tr>
  <tr>
    <td colspan="2"><input type="text" name="tags" id="c_tags" value="{{ entry.tags|join:", " }}" autocomplete="off"/></td>
  </tr>
  <tr>
    <td class="h"><input type="submit" value="{% if entry %}Сохранить{% else %}Опубликовать{% endif %}"/>&nbsp;<a href="#" class="l_cancelCreate">Отменить</a></td>
    <td class="ar"><a href="#" class="l_remove icon">I</a></td>
  </tr>
  </tbody>
</table>
</div>