{% extends "layout.html" %}
{% block title %}{{ entry.title }} - {% endblock %}
{% block content %}
{% include "full.html" %}
<div id="paging" class="ll clearfix">
{% if newer %}<a class="n_37" href="/note/{{ newer.encoded_slug }}">Свежее</a>{% else %}<a class="d" nohref="true">Раньше</a>{% endif %}
&nbsp;&nbsp;&nbsp;&nbsp;
{% if older %}<a class="n_39" href="/note/{{ older.encoded_slug }}">Старое</a>{% else %}<a class="d" nohref="true">Позже</a>{% endif %}
{% if older %}<div class="c">&#8592;&nbsp;Ctrl&nbsp;&#8594;</div>{% else %}
{% if newer %}<div class="c">&#8592;&nbsp;Ctrl&nbsp;&#8594;</div>{% endif %}
{% endif %}
</div>
{% endblock %}