{% extends "layout.html" %}
{% block title %}{{ entry.title }} - {% endblock %}
{% block content %}
{% include "full.html" %}
<div id="paging" class="ll clearfix">
{% if newer %}&#8592;&nbsp;<a class="n_75" href="/note/{{ newer.encoded_slug }}">Раньше</a>{% else %}&#8592;&nbsp;<a class="d" nohref="true">Раньше</a>{% endif %}
{% if older %}<a class="n_74" href="/note/{{ older.encoded_slug }}">Позже</a>&nbsp;&#8594;{% else %}<a class="d" nohref="true">Позже</a>&nbsp;&#8594;{% endif %}
{% if older %}<div class="c"><span class="key">K</span><span class="key">J</span></div>{% else %}
{% if newer %}<div class="c"><span class="key">K</span><span class="key">J</span></div>{% endif %}
{% endif %}
</div>
{% endblock %}